tr.header {
    position: fixed;
}

body {
    background-image: url("wallpaper.jpg");
    background-size: 300%;
}

a { display: inline-block;
    color: #0d0d0d;
    padding: 2px;
    text-decoration: none
}

a:hover {
    text-decoration: none;
    color: #400808;
    transform: scale(1.2);
}

tr {
    color: #eff0e4;
}

footer {
    color: #171717;
}

footer:hover {
    text-decoration: none;
    color: #400808;
    transform: scale(1.2);
}

th {
    color: black;
}

th.odd {
    background-color: #646968;
    opacity: 0.8
}

span.icon {
    font-size: 2em;
    display: block;
}

th.smile {
    font-size: 4em
}

img.photo {
    border-radius: 20px
}

.contacts {
    width: 30px;
    height: 30px;
}
.icon:hover {
    text-decoration: none;
    color: #400808;
    transform: scale(1.2)
    
}
p.text
{
width: 50%;
font-size: 150%;
font-family: "comic sans ms"
}
a.link
{
width: 100%;
font-size: 150%;
font-family: "comic sans ms";
color: black
}
p.hello
{
font-size: 250%;
font-family: "comic sans ms";
color: black 
}